<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/sidedrawer') %> 
    <main>
      <h1>500 Page not found!</h1>
      <p>
        Unfortunately, something went wrong on the Server - we 're doing our best to fix it as quickly as possible!
      </p>
    </main>
  </body>
</html>
